.oneloop-sponsors-body{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.oneloop-sponsors-title{
	font-family: Playfair Display;
	text-align: center;
}

.oneloop-sponsors-title h1{
	font-family: Playfair Display;
	color: #022851;
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
}

.sponsor-logos{
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
}

.sponsor-row{
	display: flex;
	flex-direction: column;
}

.sponsor{
	display: flex;
	width: 40vw;
	height: 40vw;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	margin-bottom: 3vw;
	border: 15px solid #022851;
	align-items: center;
	background-color: #fff;
}

.sponsor img{
	width: 25vw;
	height: auto;
	margin: auto;
}

.sponsor-row-top-half, .sponsor-row-bottom-half{
	display: flex;
	flex-direction: row;
}

.sponsorPopUp {
    position: fixed;
    left: 15%;
    top: 5%;
    max-width: 70%;
    z-index: 2;

    display: flex;
    flex-direction: column;

    height:  90vh;

    padding-top: 7%;
    padding-right:7%;
    padding-left: 7%;
    padding-bottom: 7%;
    background-color: white;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #000000;
    border-radius: 15px;
}

.sponsorPopUp p{
   	background-color: white;
}

.sponsorPopUp a{
	margin-left: -10px;
}

.sponsorPopUp button {
    font-style: unset;
    font-weight: unset;
    font-size: 25px;
    align-self: flex-end;
    color: black;
    background-color: unset;
    padding: unset;
    border: unset;

}

.sponsorPopUp .Title {
    align-self: flex-start;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
    margin:unset;
}

.sponsorPopUp a{
	text-decoration: underline;	
}

.sponsor-ratings{
	display: flex;
	flex-direction: column;
	margin: auto;
}

.platinum, .gold, .silver{
	display: flex;
	flex-direction: column;
}

.platinum, .gold{
	margin-bottom: -5px;
}

.silver{
	margin-bottom: 50px;
}

.platinum h2, .gold h2, .silver h2{
	margin-bottom: -10px;
	font-size: 28px;
	font-family: Playfair Display;
	color: #022851;
	text-decoration: underline;
	text-align: center;
}

.platinum-sponsors, .gold-sponsors, .silver-sponsors{
	display: flex;
	flex-direction: row;
}

.platinum-sponsors-col li, .gold-sponsors-col li, .silver-sponsors-col li{
  	line-height: 1;
  	font-size: 16px;
  	margin-bottom: -20px;
  	font-family: Open Sans;
}

.platinum{
	padding-right: 20px;
}

@media only screen and (min-width: 887px){

	.oneloop-sponsors-body{
		margin-left: 100px;
		margin-right: 100px;
	}

	.oneloop-sponsors-title{
		text-align: left;
	}

	.oneloop-sponsors-title h1{
		text-align: left;
	}

	.sponsor-logos{
		margin-left: 100px;
		margin-right: 100px;
	}

	.sponsor-row{
		flex-direction: row;
	}

	.sponsor{
		width: 17vw;
		height: 17vw;
		margin-left: 1vw;
		margin-right: 1vw;
		margin-bottom: 2vw;
	}

	.sponsorPopUp a{
		margin-left: 0px;
	}

	.sponsor img{
		width: 12vw;
	}

	.sponsor-ratings{
		flex-direction: row;
	}

	.platinum, .gold, .silver{
		margin-bottom: 30px;
	}


	.platinum h2, .gold h2, .silver h2{
		text-align: center;
	}

	.platinum-sponsors, .gold-sponsors, .silver-sponsors{
		flex-direction: column;
	}

	.col-1{
		margin-bottom: -35px;
	}

	.sponsorPopUp{
		padding-top: 3%;
		top: 25%;
		height: 40vh;
	}

}